/build/          # Directorio donde Ant genera los archivos de compilación
/dist/           # Directorio donde Ant genera el JAR final
*.jar            # Ignorar cualquier archivo JAR generado (excepto librerías)
*.war
*.zip
*.log
/nbproject/private/
.DS_Store       # macOS
Thumbs.db       # Windows
*~
*.bak
/JuegoAhorjado/nbproject/private/
/JuegoAhorjado/dist/
/JuegoAhorjado/build/
/PIJuegoAhorjado/nbproject/private/
/PIJuegoAhorjado/build/
